- Hello ${data.ip}!
<br/>
<br/>
- Wait 3 and 5 seconds for the additional fragments to load asynchronously...
<await(ip from data.ip2)>
    <div>Async fragment 1: ${ip}</div>
</await>
<await(ip from data.ip3)>
    <div>Async fragment 2: ${ip}</div>
</await>
